body {
    background: #353C47;
}
h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}
.panel-provider-image img {
    margin-top: -8px;
}
.panel-text {
    margin-left: 15px;
}
.panel-title {
    font-size: 28px;
}
.panel-torquoise {
    background: rgb(32, 186, 183);
    width: 75%;
    height: 100%;
    padding: 10px 25px;
    border: 2px solid rgb(25, 145, 143);
    border-radius: 3px;
}
.panel-gold {
    background: rgb(254, 194, 0);
    width: 75%;
    height: 100%;
    padding: 10px 25px;
    border: 2px solid rgb(180, 138, 0);
    border-radius: 3px;
}
.panel-orange {
    background: rgb(240, 180, 28);
    width: 75%;
    height: 100%;
    padding: 10px 25px;
    border: 2px solid rgb(192, 144, 22);
    border-radius: 3px;
}

/* margins */
.m-t-xxs {
    margin-top: 5px;
}
.m-t-xs {
    margin-top: 10px;
}
.m-t-sm {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 25px;
}
.m-t-xl {
    margin-top: 30px;
}
.m-t-xxl {
    margin-top: 35px;
}